@import '../../../styles.scss';

#container {
    width: 50%;
    height: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container h2 {
    margin-top: 10%;
}

#link-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.validate-button {
    margin-top: 20px;
    text-decoration: none;
    color: black;

    font-size: 1.5em;
    font-weight: bold;
}