<div id="container">
    <p (click)="logout()" id="logout" class="validate-button" >Deconnexion</p>
    <div id="admin-content" *ngIf="userProfil.role === 'ADMIN'">
        <h3>Vous êtes administrateur</h3>
        <a [routerLink]="['/admin']">Accéder à l'administration</a>
    </div>
    <div id="settings" class="open-menu">
        <div class="open-menu-header">
            <h3>Paramètres</h3>
            <i class="fas fa-chevron-down" *ngIf="!settings" (click)="toggleSettings()"></i>
            <i class="fas fa-chevron-up" *ngIf="settings" (click)="toggleSettings()"></i>
        </div>
        <app-profil-settings *ngIf="settings"></app-profil-settings>
    </div>

    <div id="cotisation" class="open-menu">
        <div class="open-menu-header">
            <h3>Cotisation</h3>
            <i class="fas fa-chevron-down" *ngIf="!cotisation" (click)="toggleCotisation()"></i>
            <i class="fas fa-chevron-up" *ngIf="cotisation" (click)="toggleCotisation()"></i>
        </div>
        <div *ngIf="cotisation">
            <p>La cotisation est un moyen de participer au bon fonctionnement et au développement du site. La cotisation nous permet entre autres de payer l'hebergement du site Internet, de financer les nouveaux développements, et de rémunérer les modérateurs.</p>
            <p *ngIf="userProfil.contribution">Vous avez cotisé</p>
            <p *ngIf="!userProfil.contribution">Vous n'avez pas cotisé</p>
            <button *ngIf="!userProfil.contribution" class="validate-button" (click)="onContribute()" >Cotiser</button>
            <br *ngIf="!userProfil.contribution">
            <button *ngIf="!userProfil.contribution" class="validate-button" (click)="onContribute()" [disabled]="true" style="margin-top: 10px">Cotisation Premium</button>
            <p *ngIf="!userProfil.contribution">La cotisation premium permet à l'équipe de Digital-Democracy de représenter vos voix auprès du Sénat.</p>
        </div>
    </div>

    <div id="partis" class="open-menu" *ngIf="userPartis.length > 0">
        <div class="open-menu-header">
            <h3>Partis</h3>
            <i class="fas fa-chevron-down" *ngIf="!partis" (click)="togglePartis()"></i>
            <i class="fas fa-chevron-up" *ngIf="partis" (click)="togglePartis()"></i>
        </div>
        <div id="party-container" *ngIf="partis">
            <div *ngFor="let party of userPartis" class="party">
                <p>Parti: {{party.description}}</p>
                <i class="fas fa-arrow-right fa-xl" [routerLink]="['/partis', party.id]" ></i>
            </div>
        </div>
    </div>

    <div id="personality" class="open-menu">
        <div class="open-menu-header">
            <h3>Personnalité</h3>
            <i class="fas fa-chevron-down" *ngIf="!personality" (click)="togglePersonality()"></i>
            <i class="fas fa-chevron-up" *ngIf="personality" (click)="togglePersonality()"></i>
        </div>
        <div id="personality-container" *ngIf="personality" >
            <div id="create-personality" *ngIf="!userPersonality">
                <button (click)="createPersonality()" >Devenir une personalité publiques</button>
            </div>
            <div id="modify-personality" *ngIf="userPersonality">
                <p>Vous êtes une personalité publique</p>
                <p>Présentation:</p>
                <textarea #personalityDescription id="personality-description" (input)="onPersonalityDescriptionChange()" >{{userPersonality.description}}</textarea>
                <button (click)="updatePersonality()" *ngIf="isPersonalityModified" id="modify-personality-button">Mettre à jour</button>
            </div>
        </div>
    </div>
    <div id="opinions" class="open-menu">
        <div class="open-menu-header">
            <h3>Opinions</h3>
            <i class="fas fa-chevron-down" *ngIf="!opinions" (click)="toggleOpinions()"></i>
            <i class="fas fa-chevron-up" *ngIf="opinions" (click)="toggleOpinions()"></i>
        </div>
        <app-profil-opinions *ngIf="opinions"></app-profil-opinions>
    </div>
    <div id="personals">
        <div class="open-menu-header">
            <h3>Informations Personelles</h3>
            <i class="fas fa-chevron-down" *ngIf="!personals" (click)="togglePersonals()"></i>
            <i class="fas fa-chevron-up" *ngIf="personals" (click)="togglePersonals()"></i>
        </div>
        <app-profil-personals *ngIf="personals"></app-profil-personals>
    </div>
</div>
