@import '../../../styles.scss';

#container {
    position: relative;
    padding: 20px;
}

#container > div {
    background-color: darken(white, 5%);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

#admin-content {
    border: 1px solid red;
}

#logout {
    position: absolute;
    top: 0;
    right: 0;
}

#partis {
    display: flex;
    flex-direction: column;
}

.party {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.party i {
    margin-left: 10px;
    cursor: pointer;
}

.open-menu {
    display: flex;
    flex-direction: column;
}

.open-menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.open-menu-header i {
    margin-left: 10px;
    cursor : pointer;

    color: darkgray;

    &:hover {
        color: black;
    }
}

#modify-personality {
    display: flex;
    flex-direction: column;
}

#personality-description {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darken(white, 15%);
    color: #000;
    font-size: 1em;
    font-weight: 600;
    margin-right: 10px;

    resize: none;
    width: 500px;
}

#modify-personality-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darken(white, 15%);
    color: #000;
    font-size: 1em;
    font-weight: 600;
    width: 500px;
    cursor: pointer;

    &:hover {
        background-color: darken(white, 10%);
    }
}
