<div id="container">
    <p (click)="logout()" id="logout">Deconnexion</p>
    <div *ngIf="userProfil.role === 'ADMIN'">
        <h3>Vous êtes administrateur</h3>
        <a [routerLink]="['/admin']">Accéder à l'administration</a>
    </div>
    <div id="settings">
        <h3>Réglages</h3>
    </div>
    <div id="cotisation">
        <h3>Cotisation</h3>
        <a>Lien vers la cotisation</a>
    </div>
    <div id="partis" *ngIf="userPartis.length > 0">
        <h3>Partis</h3>
        <div *ngFor="let party of userPartis" class="party">
            <p>Parti: {{party.description}}</p>
            <i class="fas fa-arrow-right fa-xl" [routerLink]="['/partis', party.id]" ></i>
        </div>
    </div>
    <div id="personality">
        <div id="create-personality" *ngIf="!userPersonality">
            <h3>Devenir une personalité</h3>
            <a>Créer une personnalité</a>
        </div>
        <div id="modify-personality" *ngIf="userPersonality">
            <h3>Personnalité</h3>
            <p>Vous êtes une personalité publique</p>
        </div>
    </div>
    <div id="follows">
        <h3>Abonnements</h3>
    </div>
    <div id="opinions" class="open-menu">
        <div class="open-menu-header">
            <h3>Opinions</h3>
            <i class="fas fa-chevron-down" *ngIf="!opinions" (click)="toggleOpinions()"></i>
            <i class="fas fa-chevron-up" *ngIf="opinions" (click)="toggleOpinions()"></i>
        </div>
        <app-profil-opinions *ngIf="opinions"></app-profil-opinions>
    </div>
    <div id="personals">
        <div class="open-menu-header">
            <h3>Informations Personelles</h3>
            <i class="fas fa-chevron-down" *ngIf="!personals" (click)="togglePersonals()"></i>
            <i class="fas fa-chevron-up" *ngIf="personals" (click)="togglePersonals()"></i>
        </div>
        <app-profil-personals *ngIf="personals"></app-profil-personals>
    </div>
</div>
