#jackpots-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    margin: 1rem;
    background-color: darken(white, 5%);
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    background-color: darken(white, 10%);
}