<div id="container">
    <div [routerLink]="['/publish-topic']" id="publish-button" *ngIf="!isVisitor" >
        <i class="fas fa-plus fa-3x"></i>
    </div>
    <div id="left-container">
        <app-home-news></app-home-news>
        <app-home-topics></app-home-topics>
    </div>
    <div id="main-content">
        <h2>Les dernières actualités</h2>
        <div *ngFor="let topic of topics" class="topic-container">
            <app-topic-thumbnail class="topic-component" [topic]="topic" *ngIf="topic" ></app-topic-thumbnail>
            <div class="line"></div>
        </div>
    </div>
</div>