#container {
    position: relative;
    display: flex;
    flex-direction: row;
}

#publish-button {
    position: absolute;

    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;

    cursor: pointer;

    background-color: darken(white, 15%);
    color: darken(white, 50%);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: darken(white, 20%);
    }
}

#left-container {
    width: 10%;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    border-right: darken(white, 15%) solid 1px;
}

#main-content {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}

.topic-container {
    width : 100%;
}

.topic-component {
    display: block;
    width: 80%;
}

.line {
    margin: 20px 0;
    width: 80%;
    height: 1px;
    background-color: darken(white, 15%);
}