@import '../../../colors.scss';

#container {
    position: relative;
    display: flex;
    flex-direction: row;
}

#publish-button {
    position: absolute;

    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;

    cursor: pointer;

    color: $democracy-blue;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: darken(white, 20%);
    }
}

#left-container {
    width: 10%;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    border-right: darken(white, 15%) solid 1px;
}

#main-content {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.thumbnail {
    margin:5px;
}