@import '../../../colors.scss';

:host {
    background-attachment: fixed;
    background-size: cover;
}

#container {
    position: relative;
    display: flex;
    flex-direction: row;
}

#publish-button {
    position: absolute;

    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;

    cursor: pointer;

    color: $democracy-blue;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: darken(white, 20%);
    }
}

#left-container {
    width: 10%;
    min-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

#main-content {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thumbnail-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.thumbnail {
    margin:5px;
}

#loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);   /* Couleur grise claire du cercle */
    border-radius: 50%;                           /* Cercle parfait */
    border-top: 8px solid #000;                   /* Couleur du secteur supérieur du cercle */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;           /* Animation pour faire tourner le spinner */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#end {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}