<div id="container">
    <div [routerLink]="['/publish-topic']" id="publish-button" *ngIf="!isVisitor" >
        <i class="fas fa-plus fa-3x"></i>
    </div>
    <div id="left-container">
        <app-home-news></app-home-news>
        <app-home-topics></app-home-topics>
    </div>
    <div id="main-content">
        <app-debate-accueil-thumbnail class="thumbnail" #thumbnail *ngFor="let debate of debates" [debate]="debate"></app-debate-accueil-thumbnail>
    </div>
</div>
<div id="loading" *ngIf="isLoading">
    <div class="spinner"></div>
</div>
<div id="end" *ngIf="hasReachedEnd">
    <p style="text-align:center" >Il n'y a plus de débats à charger.</p>
</div>