@import '../../../../styles.scss';

#create-debate-form {
    width: 50%;
    margin-left: 25%;
    background-color: darken(white, 5%);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 20px;
    border-radius: 10px;
}

#create-debate-form > * {
    margin-bottom: 10px;
}

.input {
    width: auto;
}

#description {
    resize: none;
}