<div id="container">
    <form [formGroup]="createDebateForm" id="create-debate-form">
        <label for="title">Titre</label>
        <input type="text" formControlName="title" id="title" name="title" class="input" required>
        <label for="content">Description</label>
        <textarea class="input" rows="4" formControlName="content" id="content" name="content" required></textarea>
        <div id="topic-presentation" *ngIf="createDebateForm.value.topicId">
            <label for="topicId">Sujet du débat :</label>
            <app-small-topic-thumbnail [topicId]="createDebateForm.value.topicId"></app-small-topic-thumbnail>
        </div>
        <div id="argument-presentation" *ngIf="createDebateForm.value.argumentId">
            <label for="argumentId">Argument du débat :</label>
            <p>{{argumentValue}}</p>
        </div>
        <button (click)="onSubmit()" class="validate-button">Valider</button>
    </form>
</div>
