<div id="container">
    <button *ngIf="isAdmin" [routerLink]="['/modify-party', partyId]" class="validate-button admin-button">Modifier le parti</button>
    <div id="left-container">
        <h3>Pour:</h3>
        <div class="topic-container">
            <app-small-topic-thumbnail *ngFor="let topic of party.for" [topicId]="topic"></app-small-topic-thumbnail>
        </div>
    </div>
    <div id="mid-container">
        <div id="presentation">
            <div id="header-presentation">
                <div id="textual-presentation">
                    <h2>{{party.name}}</h2>
                    <h4>{{mapperEnumToString(party.politicSide)}}</h4>
                    <app-follow-button *ngIf="!isVisitor && partyId && partyId != ''" [entityId]="partyId" [entityType]="'party'"></app-follow-button>  
                </div>
                <img [src]="partyLogo" >
            </div>
            <button class="validate-button" [routerLink]="['/partis', party.id,'membres']" >Voir les membres</button>
            <p>{{party.description}}</p>
        </div>
        <div class="line"></div>
        <div id="history">
            <app-party-historic [partyId]="partyId" ></app-party-historic>
        </div>
        <div class="line"></div>
        <div id="opinions">
            <app-party-opinions></app-party-opinions>
        </div>
        <div id="comments">
            <app-party-comments [partyId]="partyId"></app-party-comments>
        </div>
    </div>
    <div id="right-container">
        <h3>Contre:</h3>
        <div class="topic-container">
            <app-small-topic-thumbnail *ngFor="let topic of party.against" [topicId]="topic"></app-small-topic-thumbnail>
        </div>
    </div>
</div>