#toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;

    background-color: #DDD;
}

#toolbar button {

    height: 40px;
    width: 40px;

    background-color: transparent;
    border: none;
    border-radius: 20px;

    cursor: pointer;

    transition: all 0.3s;

    &:hover {
        background-color: #CCC;
    }
}

i {
    background-color: transparent;
}