<div id="container">
    <div style="display:flex; flex-direction:row; width:100%">
        <p>Nom du diplôme :</p>
        <ng-select [(ngModel)]="selectedDiploma" class="custom" style="width:100%">
            <ng-option *ngFor="let diploma of diplomas" [value]="diploma">{{diploma}}</ng-option>
        </ng-select>
    </div> 
    <div style="display:flex; flex-direction:row; width:100%">
        <p style>Année d'obtention :</p>
        <ng-select [(ngModel)]="selectedYear" class="custom" style="width:100%">
            <ng-option *ngFor="let year of years" [value]="year">{{year}}</ng-option>
        </ng-select>
    </div>
    <div style="margin-top:10px; margin-bottom:10px;height:1px; width:100%; background-color: black" ></div>
</div>