#votes {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

#votes p {
    margin: 0;
    padding: 0;
    margin: 0 5px;
}

#votes i {
    margin-top: 0;
    margin-bottom: auto;
    color: lightgray;
    cursor: pointer;

    &:hover {
        color: darken(lightgray, 10%)
    }
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}