<div id="container">
    <form [formGroup]="changePasswordForm" id="change-password-form">
        <label for="newPassword">Entrez votre nouveau mot de passe:</label>
        <input type="password" formControlName="newPassword" placeholder="mot de passe" >
        <label for="confirmPassword">Confirmez votre nouveau mot de passe:</label>
        <input type="password" formControlName="confirmPassword" placeholder="mot de passe" >
        <button [disabled]="!identicalPasswords || !isPasswordLengthValid" (click)="onSubmit()" id="change-password-button" >Changer mon mot de passe</button>
    </form>
    <p *ngIf="!identicalPasswords">Les mots de passes doivent être identiques.</p>
    <p *ngIf="!isPasswordLengthValid">Le mot de passe doit contenir au moins 8 caractères.</p>
</div>
