#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding : 100px 0;
}

#change-password-form {
    width: 90%;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    background-color: darken(white, 5%);
    padding: 30px;
    border-radius: 10px;
}

#change-password-form > * {
    margin-top: 10px;
}

#change-password-form > input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darken(white, 15%);
    color: #000;
    font-size: 1em;
    margin-right: 10px;

}

#change-password-form > #change-password-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darken(white, 15%);
    color: #000;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    width: max-content;

    &:hover {
        background-color: darken(white, 10%);
    }

    &:disabled {
        color: gray;
        cursor: not-allowed;
    }
}