#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding : 100px 0;
}

#form {
    width: 90%;
    max-width: 400px;

    display: flex;
    flex-direction: column;

    background-color: darken(white, 5%);
    padding: 30px;
    border-radius: 10px;
}

#form > * {
    margin-top: 10px;
}

#form > input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darken(white, 15%);
    color: #000;
    font-size: 1em;

}

#form > #reset-password-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darken(white, 15%);
    color: #000;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: darken(white, 10%);
    }

    &:disabled {
        color: gray;
        cursor: not-allowed;
    }
}