<div id="container">
    <div id="form">
        <label for="email">Entrez votre adresse e-mail pour réinitialiser votre mot de passe</label>
        <input [(ngModel)]="email" type="email" placeholder="e-mail" >
        <button (click)="onSubmit()" id="reset-password-button" >Réinitialiser mon mot de passe</button>
    </div>
</div>
<div id="pop-up" *ngIf="popup" >
    <div id="pop-up-container">
        <h3>Réinitialisation du mot de passe</h3>
        <p>Un e-mail de réinitialisation de mot de passe a été envoyé à votre adresse e-mail.</p>
        <button class="validate-button" (click)="onClose()">Fermer</button>
    </div>
</div>
