@import '../../../styles.scss';

#header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid darken(white, 15%);
}

#container {
    display: flex;
    flex-direction: row;
}

#searchFormContainer {
    width: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#searchForm {
    width: 100%;
}

.validate-button {
    margin-top: 10px;
    width: 100%;
}

#result-container {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}