<a [routerLink]="['/debate', debate.id]" >
    <div id="thumbnail" >
        <img *ngIf="!isVideo" id="debate-media" [src]="imageUrl" alt="debate image" style="height: 250px;">
        <youtube-player *ngIf="isVideo" id="debate-media" [videoId]="videoId" [height]="250" ></youtube-player>
        <p id="title" >{{debate.title}}</p>
        <p id="content">{{debate.content}}</p>
        <div id="bottom-container">
            <p id="nb-votants" >{{nbVotants}} votants</p>
            <div id="color-bar">
                <div id="really-for" class="vote-line" [ngStyle]="{'width' : deepGreenWidth}"></div>
                <div id="for" class="vote-line" [ngStyle]="{'width' : lightGreenWidth}"></div>
                <div id="neutral" class="vote-line" [ngStyle]="{'width' : grayWidth}"></div>
                <div id="against" class="vote-line" [ngStyle]="{'width' : lightRedWidth}"></div>
                <div id="really-against" class="vote-line" [ngStyle]="{'width' : deepRedWidth}"></div>
            </div>
        </div>
    </div>
</a>