<div id="container">
    <h3>{{topicTitle}}</h3>
    <p>{{topic.description}}</p>
    <div id="medias-display">
        <img [src]="topic.medias[0]" alt="Débat associé">
    </div>
    <div id="associated-debate">
        <app-associated-debates #associatedDebates [topicId]="topicId"></app-associated-debates>
    </div>
    <div id="children-topics" *ngIf="topic.childrenId.length > 0">
        <h4>Autres sujets:</h4>
        <app-children-topic [childrenTopicId]="topic.id" #childrenTopics></app-children-topic>
    </div>
</div>
