@import "../../../styles.scss";

#container {
    padding: 20px;
    position: relative;
}

#medias-display {
    background: darken(white, 10%);
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}

#medias-display img {
    width: 60%;
}

#children-topics {
    width: 50%;

}

#create-topic {
    position: fixed;
    right: 20px;
    top: 80px;
}

#modify-topic {
    position: fixed;
    right: 20px;
    top: 130px;
}

#report-topic {
    position: absolute;
    right: 20px;
    bottom: 20px;
}