<div id="container">
    <h3>{{topicTitle}}</h3>
    <p>{{topic.description}}</p>
    <div id="medias-display" *ngIf="mediaType!=='none'" >
        <h3>Médias associé:</h3>
        <img *ngIf="mediaType==='image'" [src]="image" alt="{{topic.title}}">
        <youtube-player id="video-player" *ngIf="mediaType==='video'"
            [videoId]="videoId">
        </youtube-player>
    </div>
    <div id="associated-debate">
        <app-associated-debates #associatedDebates [topicId]="topicId"></app-associated-debates>
    </div>
    <div id="children-topics" *ngIf="topic.childrenId.length > 0">
        <h4>Autres sujets:</h4>
        <app-children-topic [childrenTopicId]="topic.id" #childrenTopics></app-children-topic>
    </div>
    <p id="create-topic" [routerLink]="['/publish-topic']" [queryParams]="{topicId: topic.id}" >Créer un sujet</p>
    <p id="modify-topic" [routerLink]="['/modify-topic', topic.id]" *ngIf="topic.userId === userId" >Modifier un sujet</p>
</div>
