#container {
    padding: 20px;
}

#medias-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#medias-display img {
    width: 60%;
}

#children-topics {
    width: 50%;

}