@import '../../../../styles.scss';

#moderation-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.header-button {
    margin-left: 10px;
}


.single-event {
    background-color: darken(white, 10%);
    padding: 10px;
    border-radius: 10px;
    margin:10px;
}

.action-button {
    margin: 10px;
}