@import '../../../../styles.scss';

#container {
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;

    background-color: darken(white, 10%);
    word-wrap: break-word;
    white-space: pre-wrap;
}

#report {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#container:hover #report {
    display: block;
}

#content {
    direction: ltr;
}

#votes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

#votes p {
    margin: 0;
    padding: 0;
    margin: 0 5px;
}

#votes i {
    color: lightgray;
    cursor: pointer;

    &:hover {
        color: darken(lightgray, 10%)
    }
}

.green {
    color: $hope-green !important;
}

.red {
    color: $debate-red !important;
}

#color-bar {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

    margin-bottom: 10px;
}

.fa-thumbs-up.selected {
    color: $hope-green !important;
}

.fa-thumbs-down.selected {
    color: $debate-red !important;
}