<div id="container">
    <div id="presentation">
        <h2>{{personality.user.firstName}} {{personality.user.name}}</h2>
        <h3 *ngIf="personality.pseudo">{{personality.pseudo}}</h3>
        <h4>{{politicSide}}</h4>
        <p>{{personality.description}}</p>
        <img src="{{personality.user.profilePicture || defaultImage}}" alt="Photo de {{personality.user.firstName}} {{personality.user.name}}">
    </div>
    <div class="line"></div>
    <div id="personal-debates">
        <app-personality-personal-debate [personalityId]="personalityId" ></app-personality-personal-debate>
    </div>
    <div class="line"></div>
    <div id="debates">
        <app-personality-debate [personalityId]="personalityId" ></app-personality-debate>
    </div>
    <div class="line"></div>
    <div id="opinions">
        <app-opinions #opinionsDisplayer></app-opinions>
    </div>
</div>