#container {
    display: flex;
    flex-direction: column;
}

.line {
    height: 1px;
    background-color: darken(white, 10%);
    width: 80%;
    margin: 10px auto;
}

#presentation {
    padding: 10px;
    position: relative;
}

#presentation img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
}
