<div id="container">
    <div id="left-container">
        <h3>Contre:</h3>
    </div>
    <div id="mid-container">
        <div id="presentation">
            <h2>{{personality.user.firstName}} {{personality.user.name}}</h2>
            <h4>{{politicSide}}</h4>
        </div>
        <div class="line"></div>
        <div id="career">
            <app-career></app-career>
        </div>
        <div class="line"></div>
        <div id="opinions">
            <app-opinions></app-opinions>
        </div>
    </div>
    <div id="right-container">
        <h3>Pour:</h3>
    </div>
</div>