<div id="free-user" *ngIf="isFreeUser">
    Vous êtes un utilisateur gratuit.
    <button style="margin-left: 10px" class="validate-button green-button" (click)="becomeStandard()" >Devenir standard</button>
    <button style="margin-left: 10px" class="validate-button green-button" (click)="becomePremium()" >Devenir premium</button>
</div>
<div id="standard-user" *ngIf="isStandardUser">
    Vous êtes un utilisateur standard.
    <button style="margin-left: 10px" class="validate-button green-button" (click)="becomePremium()" >Devenir premium</button>

</div>
<div id="premium-user" *ngIf="isPremiumUser">
    Vous êtes un utilisateur premium.
    <button onclick="location.href='mailto:support@digital-democracy.eu?subject=Demande%20de%20résiliation'" style="margin-left: 10px" class="validate-button red-button">Résilier mon abonnement</button>
</div>