<div id="header">
    <h3>Débats associés au parti</h3>
    <button class="validate-button">Ajouter un débat</button>
</div>
<div id="debate-container" [ngClass]="{'limited-height':!expanded}">
    <div *ngFor="let debate of debateThumbnails">
        <app-debate-advanced-thumbnail class="debate-thumbnail" [debate]="debate"></app-debate-advanced-thumbnail>
    </div>
    <div *ngIf="!expanded" class="fade-overlay">
        <i class="fa-solid fa-chevron-down toggle-button" (click)="toggleExpanded()"></i>
    </div>
</div>
