<div id="container">
    <div id="ban-words">
        <h2>Liste des mots bannis</h2>
        <div class="list-element" *ngFor="let word of banWords">
            <p>{{word.word}}</p>
            <i class="fa fa-trash" (click)="removeBanWord(word.id)"></i>
        </div>
        <div id="add-banword">
            <input type="text" [(ngModel)]="newBanWord" placeholder="Ajouter un ban word">
            <button (click)="addBanWord()">Add</button>
        </div>
    </div>
    <div id="admins">
        <h2>Liste des admins</h2>
        <div class="list-element" *ngFor="let admin of admins">
            <p>{{admin.firstName}} {{admin.name}} </p>
            <i class="fa fa-times" (click)="removeAdmin(admin.id)"></i>
        </div>
        <div id="add-admin">
            <input type="text" [(ngModel)]="newAdmin" placeholder="email du nouvel admin">
            <button (click)="addAdmin()">Ajouter</button>
        </div>
    </div>
</div>
<div id="verification-requests">
    <div *ngFor="let request of verificationRequests">
        <p>Requete: {{request.id}}</p>
        <a target="_blank" [href]="request.recto" >Recto</a>
        <a target="_blank" [href]="request.verso">Verso</a>
        <button (click)="acceptVerificationRequest(request.id)">Accepter</button>
        <button (click)="rejectVerificationRequest(request.id)">Refuser</button>
    </div>
</div>
<app-reports></app-reports>
