<div id="container-form">
   <h4>Critères de recherche :</h4>
    <div id="searchForm">
      <p>Bord Politique :</p>
        <ng-select [items]="politicSideOptions"
           bindLabel="label"
           bindValue="value"
           [multiple]="false"
           [(ngModel)]="politicSide"
           class="custom">
        </ng-select>
        <p>Sujets pour :</p>
        <ng-select [items]="topicOptions"
           bindLabel="title"
           bindValue="id"
           [multiple]="true"
           [(ngModel)]="for"
           class="custom">
        </ng-select>
        <p>Sujets contre :</p>
        <ng-select [items]="topicOptions"
           bindLabel="title"
           bindValue="id"
           [multiple]="true"
           [(ngModel)]="against"
           class="custom">
        </ng-select>
    </div>
</div>
