#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#donation-sider {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    max-height: 80vh;
    width: min-content;

    overflow-y: auto;
}