<div id="container">
    <a [routerLink]="['/topic', topic.id]">
        <div id="header">
            <h3>{{title}}</h3>
            <i class="fa-solid fa-share fa-l" (click)="share($event)" ></i>
        </div>
        <p id="description" >{{description}}</p>
        <img *ngIf="mediaType==='image'" [src]="image" alt="{{topic.title}}">
        <youtube-player class="video-player" *ngIf="mediaType==='video'"
            [videoId]="videoId"
            [width]="'60%'">
        </youtube-player>
    </a>
</div>
