@import '../../../colors.scss';

a {
    text-decoration: none;
    color: black;

}

#container {
    width: 100%;
    background-color: darken(white, 10%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: darken(white, 20%);
    }
}

#container img {
    width: 60%;
}

#container .video-player {
    width: 60%;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header i {
    margin-left: 10px;
    border-radius: 50%;
    background-color: darken(white, 15%);
    padding: 8px;
    cursor: pointer;

    &:hover {
        background-color: $participation-yellow;
    }
}

#description {
    width: 100%;
}