<div id="page">
    <i id="back-arrow" [routerLink]="['/landing']" class="fa-solid fa-arrow-left"></i>
    <img src="../../../assets/E-Democracy-no-white.png" alt="image" class="main-image" height="233px" width="600px">
    <h1>Inscription</h1>
    <div id="thumbnails-container">
        <app-register-thumbnail
            class="thumbnail"
            title="Gratuit"
            price="Gratuit"
            [features]="['Prix : 0€', 'Accès au site', 'Sondages non vérifiés']"
            description="Idéal pour : Ceux qui veulent se faire une idée de la démocratie participative."
            redirect="free"></app-register-thumbnail>
        <app-register-thumbnail
            class="thumbnail"
            title="Standard"
            price="4.99€"
            [features]="['Prix : 4.99€', 'Accès complet au site', 'Sondages vérifiés']"
            description="Idéal pour : Ceux qui souhaitent que leurs votes soient pris en compte pour un résultat fiable."
            redirect="standard"></app-register-thumbnail>
        <app-register-thumbnail
            class="thumbnail"
            title="Premium"
            price="14.99€/ an"
            [features]="['Prix : 14.99€/ an', 'Accès complet au site', 'Sondages vérifiés', 'Souscription au parti « Mouvement des Citoyens Actifs (MCA) »']"
            description="Idéal pour : Membre engagé voulant influencer activement les décisions politiques ."
            redirect="premium"></app-register-thumbnail>
    </div>
</div>