<div *ngFor = "let report of signalements">
    <app-single-personal-report [report]="report"></app-single-personal-report>
    <button class="validate-button" (click)="contest(report.report.id)" [disabled]="isDisabled(report)" >Contester</button>
    <p *ngIf="isDisabled(report)">Vous avez deja contesté cette sanction</p>
    <div class="line"></div>
</div>
<div>
    <p>Vous avez été banni. Vous pouvez toujours voter, mais vous ne pouvez plus poster de commentaires, messages, arguments ou débats.</p>

</div>
<div id="popup" *ngIf="contestPopup">
    <div id="content">
        <button id="close" (click)="closePopup()"><i class="fa-solid fa-xmark"></i></button>
        <h2>Contester le signalement</h2>
        <textarea [(ngModel)]="contestReason" placeholder="Raison de la contestation"></textarea>
        <button class="validate-button" (click)="sendContest()">Envoyer</button>
    </div>
</div>
