#container {
    width: 100%;
    background-color: darken(white, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: row;
}

.content-menu {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}