<div id="container">
    <div id="content">
        <div class="content-menu">
            <h4>Navigation</h4>
            <a>Parti Politique</a>
            <a>Personalité Politique</a>
            <a>Sujet Suivis</a>
        </div>
        <div class="content-menu">
            <h4>Mentions Légales</h4>
            <a>Conditions Générales</a>
            <a>Politique de Confidentialité</a>
            <a>Politique de Cookies</a>
        </div>
    </div>
    <div id="bottom">
        <p>© 2024 E-democracy. Tous droits réservés</p>
    </div>
</div>