<div id="header">
    <h1>Rechercher un parti</h1>
    <h3 [routerLink]="['/create-party']" *ngIf="!isVisitor">Créer mon parti -></h3>
</div>
<div id="container">
    <div id="searchFormContainer">
        <app-party-search-form id="searchForm" #searchForm ></app-party-search-form>
        <button class="validate-button" (click)="onSubmit()">Rechercher</button>
    </div>
    <div id="result-container">
        <app-party-result-thumbnail *ngFor="let party of partyList" [party]="party"></app-party-result-thumbnail>
    </div>
</div>