@import '../../../../styles.scss';

#back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    cursor: pointer;
}

#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}