#moderation-header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.header-button {
    margin-left: 10px;
}

#reports-container {
    display: flex;
    flex-direction: column;
}

.single-report {
    margin: 10px;
}