@import '../../../../../colors.scss';

#container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    background-color: darken(white, 15%);
    border-top: 1px solid white;

    &:hover {
        background-color: darken(white, 20%);
    }

    cursor: pointer;
}

#container img {
    width: 20%;
}

#container p {
    margin-left: 10px;
}
