<div id="container" [ngStyle]="{ 'background-color': getColorByValue() }" (click)="navigateToDebate()" >
    <p id="content">{{argument.content}}</p>
    <p id="author">Proposé par: {{displayName}}</p>
    <app-report id="report" [type]="reportType" [id]="argument.id" [size]="'small'" ></app-report>
    <div id="votes">
        <p>{{argument.nbGood}}</p>
        <i 
            *ngIf="!isVisitor"
            class="fa fa-thumbs-up" 
            aria-hidden="true" 
            [ngClass]="{'green' : argument.hasVote}"
            (click)="onVoteUp($event)"></i>
        <p>{{argument.nbBad}}</p>
        <i 
            *ngIf="!isVisitor"
            class="fa fa-thumbs-down"
            aria-hidden="true" 
            [ngClass]="{'red' : argument.hasVote == false}"
            (click)="onVoteDown($event)"></i>
    </div>
    <div id="color-bar">
        <div id="for" [ngStyle]="{'width' : stringWidth, 'background-color': greenColor}" >
        </div>
        <div id="against" [ngStyle]="{'width' : oppositeStringWidth, 'background-color': redColor}">
        </div>
    </div>
</div>