<div id="container">
    <div id="input-comment">
        <form [formGroup]="newCommentForm">
            <textarea id="comment-textarea" rows="4" formControlName="content" placeholder="Votre commentaire"></textarea>
            <button [disabled]="isVisitor" type="submit" class="validate-button" (click)="addComment()">Envoyer</button>
        </form>
    </div>
    <div id="comments-list">
        <div id="comments-header">
            <h3>Commentaires</h3>
        </div>
        <div class="single-comment" *ngFor="let comment of comments">
            <i class="fas fa-times" *ngIf="comment.userId === userId" (click)="deleteComment(comment.id)"></i>
            <app-report id="report" [type]="reportType" [id]="comment.id" [size]="'small'" ></app-report>
            <div class="comment-header">
                <p>{{comment.user.firstName}} {{comment.user.name}}</p>
                <p>{{comment.createdAt | date:'dd/MM/yyyy, HH\'h\'mm'}}</p>
            </div>
            <div class="comment-content">
                <p>{{comment.content}}</p>
            </div>
        </div>
    </div>
</div>
