<div id="container">
    <div id="for">
        <app-vertical-topic-selector [selected]="originalParty.for" #forSelector ></app-vertical-topic-selector>
    </div>
    <div id="informations">
        <h2>Informations :</h2>
        <form [formGroup]="partyUpdateForm" id="updateForm">
            <label for="name">Nom du parti</label>
        <input type="text" formControlName="name" id="name" name="name" required>
        <label for="description">Description du parti</label>
        <input type="text" formControlName="description" id="description" name="description" required>
        <label for="reason">Raison de l'existence du parti</label>
        <input type="text" formControlName="reason" id="reason" name="reason" required>
        <label for="politicSide">Bord politique du parti</label>
        <select formControlName="politicSide" id="politicSide" name="politicSide" required>
            <option *ngFor="let side of politicSides" [value]="side" >
                {{mapperEnumToString(side)}}
            </option>
        </select>
        </form>
        <p id="validate-button" (click)="onSubmit()" >Valider</p>
    </div>
    <div id="against">
        <app-vertical-topic-selector [selected]="originalParty.against" #againstSelector ></app-vertical-topic-selector>
    </div>
</div>
<div id="historic">
    <h2>Historique</h2>
    <h3>Ajouter un événement</h3>
    <form id="create-event-form" [formGroup]="createEventForm" >
        <div id="header">
            <label for="title">Titre de l'événement :</label>
            <input type="text" id="title" name="title" formControlName="title" required>
            <label for="dateStart">Date de début</label>
            <input type="date" id="dateStart" name="dateStart" formControlName="dateStart" required>
            <label for="dateEnd">Date de fin</label>
            <input type="date" id="dateEnd" name="dateEnd" formControlName="dateEnd" required>
        </div>
        <label for="content">Description de l'événement</label>
        <input type="text" id="content" name="content" formControlName="content" required>
        <button id="create-event-button" (click)="createEvent()" [disabled]="!createEventForm.valid" >Créer l'événement</button>
    </form>
    <div id="past-events">
        <div *ngFor="let event of events" class="event-container">
            <app-historic-event [event]="event" class="event"></app-historic-event>
            <i class="fas fa-trash-alt" (click)="deleteEvent(event.id)"></i>
        </div>
    </div>
</div>