#container {
    background-color: darken(white, 5%);
    display: flex;
    flex-direction: row;
}

#for {
    width: 20%;
}

#informations {
    width: 60%;
}

#informations form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

#updateForm > * {
    margin-bottom: 10px;
}

#against {
    width: 20%;
}

#validate-button {
    background-color: darken(white, 10%);
    padding: 10px;
    width: max-content;
    cursor: pointer;
}

#create-event-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#create-event-form #header {
    display: flex;
    flex-direction: column;
}

#create-event-form #header > * {
    margin-bottom: 10px;
}

#historic{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#historic > * {
    margin-bottom: 10px;
    width: 80%;
}

.event-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.event-container i {
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.event {
    width: 90%;
}

#create-event-button {
    background-color: darken(white, 10%);
    margin-top: 10px;
    padding: 10px;
    width: max-content;
    cursor: pointer;
    border-radius: 10px;
}