<div id="page-container">
    <i class="fa-solid fa-share fa-2x" id="share" (click)="share($event)" ></i>
    <app-report id="report" [id]="debateId" [type]="reportType.DEBATE" [size]="'small'" *ngIf="debateId != '1'"></app-report>
    <h1 style="margin-bottom: 0" >Débat</h1>

    <div id="presentation">
        <h3>{{debate.title}}</h3>
        <p>{{debate.content}}</p>
        <div id="color-bar">
            <div id="for" [ngStyle]="{'width' : lineWidth, 'background-color': greenColor}" >
            </div>
            <div id="against" [ngStyle]="{'width' : oppositelineWidth, 'background-color': redColor}">
            </div>
        </div>
        <p>{{numberForPourcentage}} pour</p>
    </div>

    <div class="separation-line"></div>

    <app-argument-debate-presentation #argumentDebatePresentation></app-argument-debate-presentation>

    <div class="separation-line" *ngIf="isDebateFromArgument"></div>

    <h1>Reformulations récentes et populaires</h1>

    <div id=add-reformulation style="display:flex; flex-direction: column; align-items: center">
        <button (click)="toggleReformulationPopUp()" [disabled]="isVisitor" ><i class="fa-regular fa-comment-dots"></i>Proposer une reformulation</button>
        <p>Cette section vous permet de créer une reformulation de l'argument ou commmentaire faisant actuellement l'objet du débat dans le but d'apporter des précisions, corrections ou simplifications afin d'obtenir un débat le plus clair et compréhensible possible.</p>
        <p>Assurez-vous de ne pas changer le sens global de l'argument ou du commentaire original qui a fait l'objet du débat pour lequel des gens ont voté. L'utilisation de cette fonction dans le but de saboter le débat sera punie par des sanctions prévues dans les conditions générales d'utilisations.</p>
    </div>

    <div id="arguments-container">
        <div id="recent-arguments">
            <h4>Reformulations Récents:</h4>
            <swiper-container 
                *ngIf="recentReformulations.length > 0"
                navigation="true" 
                dir="rtl"
                >
                <swiper-slide *ngFor="let reformulation of recentReformulations">
                    <app-single-reformulation-presentation 
                        class="single-argument-presentation" 
                        [reformulation]="reformulation"></app-single-reformulation-presentation>
                </swiper-slide>
            </swiper-container>
        </div>
        <div id="popular-arguments">
            <h4>Reformulations Populaires:</h4>
            <swiper-container 
                *ngIf="popularReformulations.length > 0"
                #swiperContainer
                navigation="true"
                centeredSlides="true"
                [slidesPerView]=2 >
                <swiper-slide *ngFor="let reformulation of popularReformulations">
                    <app-single-reformulation-presentation 
                        class="single-argument-presentation" 
                        [reformulation]="reformulation"></app-single-reformulation-presentation>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>

    <div class="separation-line"></div>

    <h1>Arguments par type</h1>

    <div id="sorted-arguments">
        <h4>Arguments pour: </h4>
        <app-arguments-displayer #argumentsFor [voteSubject$]="voteSubject$"></app-arguments-displayer>
        <h4>Arguments contre: </h4>
        <app-arguments-displayer #argumentsAgainst [voteSubject$]="voteSubject$"></app-arguments-displayer>
        <h4>Solutions: </h4>
        <app-arguments-displayer #argumentsSolution [voteSubject$]="voteSubject$"></app-arguments-displayer>
    </div>

    <div id=add-argument style="display:flex; flex-direction: column; align-items: center" >
        <button (click)="toggleArgumentPopUp()" [disabled]="isVisitor"><i class="fa-regular fa-comment-dots"></i>Ajouter un argument</button>
        <p>Veuillez vous assurer de ne poster qu'un argument par onglet afin que les gens puissent répondre point par point à chaque argument ou commentaire, permettant ainsi un débat organisé.</p>
    </div>

    <div class="separation-line"></div>

    <div id="for-against">
        <div id="nb-of-votes">
            <p>{{numberOfVotants}} votants</p>
            <p>{{numberOfContributors}} contributeurs votants</p>
        </div>
        <h1>Votez pour ou contre cette idée:</h1>
        <div id="vote-selector">
            <button 
                *ngFor="let value of voteValues" 
                class="validate-button {{getClass(value)}}"
                [disabled]="isVisitor"
                (click)="voteForDebate(value)"
                [ngClass]="{'selected' : isCurrentValue(value)}">{{mapperEnumToString(value)}}</button>
        </div>
        <p>Total des votes:</p>
        <app-for-against-debate #debateResult ></app-for-against-debate>
        <p>Vote des contributeurs:</p>
        <app-for-against-debate #debateContributorsResult ></app-for-against-debate>
    </div>

</div>

<div id="argument-pop-up" *ngIf="argumentPopUp">
    <div class="pop-up-content">
        <i class="fas fa-times" (click)="toggleArgumentPopUp()"></i>
        <h3>Ajouter un argument</h3>
        <form [formGroup]="newArgumentForm" class="post-form">
            <label for="title">Titre:</label>
            <input type="text" formControlName="title" id="title" class="input" name="title" required>
            <label for="content">Contexte:</label>
            <textarea formControlName="content" id="content" class="input" name="content" required></textarea>
            <label for="type">Type:</label>
            <select formControlName="type" id="type" class="input" name="type" required>
                <option value="FOR">Pour</option>
                <option value="AGAINST">Contre</option>
                <option value="SOLUTION">Solution</option>
            </select>
            <label for="anonymous">Informations personnelles:</label>
            <div>
                <label for="isNameDisplayed">Afficher mon nom:</label>
                <input type="checkbox" formControlName="isNameDisplayed" id="isNameDisplayed" name="isNameDisplayed">
            </div>
            <div>
                <label for="isWorkDisplayed">Afficher mon travail:</label>
                <input type="checkbox" formControlName="isWorkDisplayed" id="isWorkDisplayed" name="isWorkDisplayed"> 
            </div>
            <div>
                <label for="isPoliticSideDisplayed">Afficher mon orientation politique:</label>
                <input type="checkbox" formControlName="isPoliticSideDisplayed" id="isPoliticSideDisplayed" name="isPoliticSideDisplayed">
            </div>
        </form>
        <button class="validate-button" [disabled]="newArgumentForm.invalid" (click)="onValidate()" >Valider</button>
    </div>
</div>
<div id="reformulation-pop-up" *ngIf="reformulationPopUp">
    <div class="pop-up-content">
        <i class="fas fa-times" (click)="toggleReformulationPopUp()"></i>
        <h3>Proposer une reformulation</h3>
        <form [formGroup]="newReformulationForm" class="post-form">
            <label for="title">Titre:</label>
            <input type="text" formControlName="title" id="title" class="input" name="title" required>
            <label for="content">Contexte:</label>
            <textarea formControlName="content" id="content" class="input" name="content" required></textarea>
            <label for="anonymous">Informations personnelles:</label>
            <div>
                <label for="isNameDisplayed">Afficher mon nom:</label>
                <input type="checkbox" formControlName="isNameDisplayed" id="isNameDisplayed" name="isNameDisplayed">
            </div>
            <div>
                <label for="isWorkDisplayed">Afficher mon travail:</label>
                <input type="checkbox" formControlName="isWorkDisplayed" id="isWorkDisplayed" name="isWorkDisplayed"> 
            </div>
            <div>
                <label for="isPoliticSideDisplayed">Afficher mon orientation politique:</label>
                <input type="checkbox" formControlName="isPoliticSideDisplayed" id="isPoliticSideDisplayed" name="isPoliticSideDisplayed">
            </div>
        </form>
        <p class="validate-button" (click)="onValidateReformulation()" >Valider</p>
    </div>
</div>