@import '../../../../colors.scss';

#pourcentages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pourcentages p {
    background-color: darken(white, 20%);
    padding: 5px;
    border-radius: 5px;
}

#bar-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

#really-for {
    background-color: $hope-green
}

#for {
    background-color: transparentize($color: $hope-green, $amount: 0.4)
}

#really-against {
    background-color: $debate-red
}

#against {
    background-color: transparentize($color: $debate-red, $amount: 0.4)
}

#neutral {
    background-color: gray;
}